.color-negro
{
	background-color: rgba(216, 210, 210, 0.2);
}
.color-rojo
{
	background-color: rgba(249, 4, 4,0.1);
}
.color-celeste
{
	background-color: rgba(56, 109, 244,0.5);
}
.color-blanco
{
	background-color: rgb(255,255,255);
}